<h2>New Pizza</h2>
<%= form_for @pizza do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  <%= f.label :ingredients, "Ingredients" %>
  <%= f.text_field :ingredients %>
  <%= f.label :restaurant_id, "Climber" %><br>
  <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name, prompt: false %> <br>
  <%= f.submit %>
<% end %>
